<p>to-collect works!</p>
<div class="container-fluid">
  <div class="tabsStyle py-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" *ngFor="let tabItem of tabs" [routerLink]="tabItem.route" routerLinkActive>
        <a class="nav-link" id="preInvoice-tab" data-bs-toggle="tab" data-bs-target="#preInvoice" type="button" role="tab" aria-controls="preInvoice" aria-selected="false" >
          <span class="my-custom-class">{{tabItem.label | titlecase}}</span>  
        </a>
      </li>
    </ul>
  </div>
  <div>
    <button class="btn btn-primary" (click)="openDialog()">MODAL</button>
  </div>
<router-outlet></router-outlet>
</div>
