<div class="row">
    <div class="col-2 text-start">
    <img src="assets/icons/icon-bell.svg" alt="" class="icon-bell">
    <!-- <img src="assets/iconos/Grupo 4716.svg" alt="" style="height: 10px;" class="text-start"> -->

  </div>
  <div class="col">
    <div id="menu-market" class="dropdown px-2">
      <a class="" class="dropdown" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" routerLink="">
        <img src='assets/icons/icon-products.svg' alt="" class="px-2 pt-2">
      </a>
      <div class="dropdown-menu dropdown-menu-lg-end" id="market">
        <div class="col">
          <a class="dropdown-item1" href="http://app.bit.com:81">
            <img class="icons" src="assets/icons/icon-market-hubbing.png" alt="Hubbing">
            <span class="spans">Plataforma Hubbing</span>
          </a>
        </div>
        <div class="col">
          <a class="dropdown-item1" routerLink="/">
            <img class="icons" src="assets/icons/icon-market-tower.svg" alt="TDC">
            <span class="spans">Torre Control</span>
          </a>
        </div>
        <div class="col">
          <a class="dropdown-item1" routerLink="">
            <img class="icons" src="assets/icons/icon-market-admin-c.svg" alt="Admin">
            <span class="spans">Admin a Cobrar</span>
          </a>
        </div>
        <div class="col">
          <a class="dropdown-item1" routerLink="">
            <img class="icons" src="assets/icons/icon-market-admin-c.svg" alt="Admin">
            <span class="spans">Admin a Pagar</span>
          </a>
        </div>
        
      </div>
    </div>
  </div>
</div>


