<nav mat-tab-nav-bar class="tagGroup" class="bg-primary-default dark:bg-default-600">
  <a mat-tab-link *ngFor="let tabItem of tabs" 
    [routerLink]="tabItem.route" routerLinkActive #rla="routerLinkActive">
    <span id="navstepstext">{{tabItem.label | titlecase}}</span>    
  </a>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          (click)="cambiarModoTema(temaSeleccionado.getThemeMode)">
          <mat-icon class="dark:text-yellow-500">
            {{ temaSeleccionado.getThemeMode === ThemeMode.DARK ? 'light_mode' : 'dark_mode' }}
          </mat-icon>
  </button>
</nav>


<div class="row">
  <router-outlet></router-outlet>
</div>