<div id="menu">
  <div class="d-table d-none d-md-inline-block">
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          Tráfico
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tickets">
          Tickets
          <!-- <i class="icon ico-chevron-down no-activo"></i> -->
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/trip/now">
          Viajes
           <i class="icon ico-chevron-down no-activo"></i>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/trip/trace">
          Seguimiento
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/operator">
          Monitor
          <!-- <i class="icon ico-chevron-down no-activo"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/wall">
          Video Wall
          <!-- <i class="icon ico-chevron-down no-activo"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/wall">
          Dashboard
          <!-- <i class="icon ico-chevron-down no-activo"></i> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports/wall">
          Billing
          <!-- <i class="icon ico-chevron-down no-activo"></i> -->
        </a>
      </li>
    </ul>
  </div>

</div>
