<h4 mat-dialog-title class="text-center" [innerHTML]="data.title"></h4>
<p class="text-center" [innerHTML]="data.message"></p>
<div class="row pt-3">
  <div class="col-6 text-start">
    <button class="btn btn-secondary" (click)="btnOneClick()" [style.background-color]="data.btnOneColor" [style.border-color]="data.btnOneColor">{{ data.btnOneLabel }}</button>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-primary text-end" (click)="btnTwoClick()" [style.background-color]="data.btnTwoColor" [style.border-color]="data.btnTwoColor">{{ data.btnTwoLabel }}</button>
  </div>
</div>
